<div class="blog-list-teaser">
  <% items.each do |item| %>
    <div class="teaser-item">
      <div class="date"><%= format_short_date(item[:frontmatter][:date]) %></div>
      <div class="link"><a href="<%= blog_url(item) %>"><%= item[:frontmatter][:title] %></a></div>
    </div>
  <% end %>

  <p><a href="<%= all %>"><%= I18n.t("see_more") %></a></p>
</div>
