<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="<%= static_url("favicon.png") %>">

    <%= stylesheet_tag "app" %>
    <%= javascript_tag "app" %>

    <title><%= page_title(page[:title_tag] || page[:title]) %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">diaspora*</a>
      </div>
    </nav>

    <div id="masthead" class="hero">
      <div class="container">
        <h1><%= page[:title] %></h1>
        <% if page[:subtitle] %>
          <h2 class="lead"><%= page[:subtitle] %></h2>
        <% end %>
      </div>
    </div>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
