<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="<%= static_url("favicon.png") %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.all") %> (Atom)" href="<%= url_to "blog", "feeds/all.xml" %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.articles") %> (Atom)" href="<%= url_to "blog", "feeds/articles.xml" %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.releases") %> (Atom)" href="<%= url_to "blog", "feeds/releases.xml" %>">

    <%= stylesheet_tag "app" %>
    <%= javascript_tag "app" %>

    <title><%= page_title(page[:title_tag] || page[:title]) %></title>
  </head>
  <body <% if page[:bodyclass] %>class="<%= page[:bodyclass] %>"<%end%>>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="<%= url_to(@section, "") %>">diaspora*<%= section_title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= partial "components/nav_header_main" %>
        <%= partial "components/nav_header_additional" %>
      </div>
    </nav>

    <header id="masthead" class="hero">
      <div class="container">
        <h1><%= page[:title] %></h1>
        <% if page[:subtitle] || page[:date] %>
          <h2 class="lead"><%= page[:subtitle] || (page[:date] ? format_date(page[:date]) : "") %></h2>
        <% end %>
      </div>
    </header>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= partial "components/language_select" %>
          </div>
          <div class="col text-right">
            <%= partial "components/edit_site_link", path: current_path %>
          </div>
        </div>

        <p class="content-license">
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
            <i class="fab fa-creative-commons"></i>
            <i class="fab fa-creative-commons-by"></i>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
