<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="<%= static_url("favicon.png") %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.all") %> (Atom)" href="<%= url_to "blog", "feeds/all.xml" %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.articles") %> (Atom)" href="<%= url_to "blog", "feeds/articles.xml" %>">
    <link rel="alternate" type="application/atom+xml" title="<%= I18n.t("blog.feeds.releases") %> (Atom)" href="<%= url_to "blog", "feeds/releases.xml" %>">

    <link rel="stylesheet" href="<%= asset_url "app.css" %>">
    <script src="<%= asset_url "app.js" %>"></script>

    <title><%= page_title(page[:title_tag] || page[:title]) %></title>
  </head>
  <body <% if page[:bodyclass] %>class="<%= page[:bodyclass] %>"<%end%>>
    <section id="header">
      <div class="header-container">
        <!-- first navigation line, contains branding, cross-sections, and the CTAs -->
        <div class="global-header">
          <!-- large logo, which links to the section's root -->
          <div class="logo">
            <a href="<%= url_to(@section, "") %>">
              diaspora*<%= section_title %>
            </a>
          </div>

          <!-- cross-links to other sections -->
          <% if data("navigation")[@section] && data("navigation")[@section][:header_crosslinks] %>
            <nav class="navigation">
              <% data("navigation")[@section][:header_crosslinks].each do |nav_item| %>
                <a href="<%= url_for_nav_item(nav_item[:target]) %>" <% if url_targets_current_page(current_path, nav_item[:target], only_section: true) %>class="active"<% end %>>
                  <%= link_title(nav_item) %>
                </a>
              <% end %>
            </nav>
          <% end %>

          <!-- big CTA button -->
          <% if data("navigation")[@section] && data("navigation")[@section][:header_buttons] %>
            <div class="cta-container">
              <% data("navigation")[@section][:header_buttons].each do |nav_item| %>
                <a href="<%= url_for_nav_item(nav_item[:target]) %>">
                  <span><%= link_title(nav_item) %></span>
                </a>
              <% end %>
            </div>
          <% end %>

          <!-- toggler for the mobile menu -->
          <div class="mobile-menu-toggler">
            <button>
              <span class="sr-only">Open main menu</span>
              <i class="toggler-open fas fa-bars"></i>
              <i class="toggler-close far fa-times"></i>
            </button>
          </div>
        </div>

        <!-- mobile-only navigation -->
        <nav class="mobile-nav">
          <% if data("navigation")[@section] && data("navigation")[@section][:header_crosslinks] %>
            <div class="global-links">
              <% data("navigation")[@section][:header_crosslinks].each do |nav_item| %>
                <a href="<%= url_for_nav_item(nav_item[:target]) %>" <% if url_targets_current_page(current_path, nav_item[:target], only_section: true) %>class="active"<% end %>">
                  <%= link_title(nav_item) %>
                </a>
              <% end %>
            </div>
          <% end %>
          <% if data("navigation")[@section] && data("navigation")[@section][:header] %>
            <div class="section-links">
              <% data("navigation")[@section][:header].each do |nav_item| %>
                <a href="<%= url_for_nav_item(nav_item[:target]) %>" <% if url_targets_current_page(current_path, nav_item[:target], match_beginning: true) %>class="active"<% end %>>
                  <%= link_title(nav_item) %>
                </a>
              <% end %>
            </div>
          <% end %>
        </nav>

        <!-- second navigation line, containing in-section targets -->
        <% if data("navigation")[@section] && data("navigation")[@section][:header] %>
          <div class="section-header">
            <nav class="navigation">
              <% data("navigation")[@section][:header].each do |nav_item| %>
                <a href="<%= url_for_nav_item(nav_item[:target]) %>" <% if url_targets_current_page(current_path, nav_item[:target], match_beginning: true) %>class="active"<% end %>>
                  <%= link_title(nav_item) %>
                </a>
              <% end %>
            </nav>
          </div>
        <% end %>
      </div>
    </section>

    <header class="masthead">
      <div class="container">
        <h1><%= page[:title] %></h1>
        <% if page[:subtitle] || page[:date] %>
          <h2><%= page[:subtitle] || (page[:date] ? format_date(page[:date]) : "") %></h2>
        <% end %>
      </div>
    </header>

    <main role="main" class="container prose prose-lg">
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <%= partial "components/nav_footer" %>
        <div class="row">
          <div class="col">
            <%= partial "components/language_select" %>
          </div>
          <div class="col text-right">
            <%= partial "components/edit_site_link", path: current_path %>
          </div>
        </div>
        <p class="content-license">
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
            <i class="fab fa-creative-commons"></i>
            <i class="fab fa-creative-commons-by"></i>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
